@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Marcellus&display=swap');

@font-face {
  font-family: 'gallery-modern';
  src: url('./assets/fonts/GalleryModern.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --color-primary: #FFFFFF;
  --color-primary-shade: #F8F8F8;
  --color-secondary: #121212;
  --color-accent: #BFF747;

  --color-text: #000000;
}

@layer utilities {
  .bg-texture {
    background-image: url('./assets/images/HeroSectionTexture.png');
    background-repeat: repeat; /* para repetir a textura */
    background-size: 40vw;     /* ou cover, contain, dependendo do efeito */
  }
}

@layer utilities {
  .chamfered {
    clip-path: polygon(
      0 0%, 100% 0%, 100% 0px,
      100% calc(100% - 55px), calc(100% - 55px) 100%,
      0 100%, 0% 100%, 0% 0
    );
  }
}