@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Marcellus&display=swap');

@font-face {
  font-family: 'gallery-modern';
  src: url('./assets/fonts/GalleryModern.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

html, body {
  font-family: 'DM Sans', sans-serif;
  color: var(--color-secondary);
  scroll-behavior: smooth;
}

@theme {
  --color-primary: #FFFFFF;
  --color-primary-shade: #F8F8F8;
  --color-secondary: #121212;
  --color-accent: #BFF747;
  --color-accent-shade: #ECFFEC;

  --color-text: #000000;

  --text-tiny: 0.625rem;
  --text-tiny--line-height: 0.625rem; 
  --text-tiny--letter-spacing: 0; 
  --text-tiny--font-weight: 400;

  --text-giant: 13rem;
  --text-giant--line-height: 13rem; 
  --text-giant--letter-spacing: 0; 
  --text-giant--font-weight: 400;

  --text-big: 10rem;
  --text-big--line-height: 10rem; 
  --text-big--letter-spacing: 0; 
  --text-big--font-weight: 400;
}

@layer utilities {
  .lock-scroll {
    overflow: hidden;
  }
}

@layer utilities {
  .bg-texture {
    background-image: url('./assets/images/heroSection/HeroSectionTexture.png');
    background-repeat: repeat; /* para repetir a textura */
    background-size: 30vw;     /* ou cover, contain, dependendo do efeito */
  }
}

@layer utilities {
  .chamfered {
    clip-path: polygon(
      0 0%, 100% 0%, 100% 0px,
      100% calc(100% - 55px), calc(100% - 55px) 100%,
      0 100%, 0% 100%, 0% 0
    );
  }
}